{% extends "layout.html" %}
{% from "macros/pagination.html" import render_pagination %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}

  <div class="intro">
    <div class="bio">
      <div>
        <p>Ég starfa sem sjálfstæður ráðgjafi og er einn af stofnendum <a href="https://www.planitor.io/">Planitor</a>. Ég er stofnandi <a href="https://takumi.com/">Takumi International ltd.</a> ásamt öðrum og þar á undan starfaði ég sem forritari og vörustjóri hjá <a href="https://quizup.com">QuizUp</a>. </p>
        <p>Ég held úti fréttabréfinu <a href="https://jokull.substack.com/">Reykjavík Mobility</a> þar sem fjallað er um samgöngur og skipulag í Reykjavík.</p>
      </div>
    </div>
    <div class="picture">
      <img alt="profile picture of jökull" src="{{ '/static/profile.jpg'|url }}">
    </div>
  </div>

  <div class="index-posts">

    <div class="legend">Greinar eftir mig</div>

    {% for post in this.pagination.items %}
      <a href="{{ post|url }}" class="post">
        <div class="title">{{ post.title }}</div>
        <div class="date">{{ post.pub_date|dateformat('long') }}</div>
      </a>
    {% endfor %}

    {% if this.pagination.pages > 1 %}
      {{ render_pagination(this.pagination) }}
    {% endif %}

  </div>

{% endblock %}
