<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ '/static/style.css?v=1'|url }}">
<link rel="alternate" type="application/atom+xml" title="Jökull Sólberg" href="/feed.xml" />
<title>{% block title %}Welcome{% endblock %} — Jökull Sólberg</title>
<body>
  <header>
    <h1>
      <a href="{{ '/'|url }}">Jökull Sólberg</a>
      <a href="mailto:jokull@solberg.is"></a>
    </h1>
    <div class="social">
      <a href="https://twitter.com/jokull">{% include '/includes/twitter.svg' %}</a>
      <a href="https://instagram.com/jokull">{% include '/includes/instagram.svg' %}</a>
    </div>
  </header>
  <div class="page">
    {% block body %}{% endblock %}
  </div>
  <footer>
    <a href="mailto:jokull@solberg.is">jokull@solberg.is</a>
  </footer>
<!-- Fathom - beautiful, simple website analytics -->
<script src="https://cdn.usefathom.com/3.js" site="JXNVNPYD"></script>
<script>
    window.fathom || document.write('<script src="https://bandicoot.solberg.is/core.js"><\/script>');
</script>
<!-- / Fathom -->
</body>
