@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Clash';
	src:
		url('/fonts/ClashGrotesk-Extralight.20c0ab5.woff2') format('woff2'),
		url('/fonts/ClashGrotesk-Extralight.22ce76c.woff') format('woff');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Clash';
	src:
		url('/fonts/ClashGrotesk-Light.4cc85df.woff2') format('woff2'),
		url('/fonts/ClashGrotesk-Light.80a09e3.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Clash';
	src:
		url('/fonts/ClashGrotesk-Regular.55923d3.woff2') format('woff2'),
		url('/fonts/ClashGrotesk-Regular.0ac733f.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Clash';
	src:
		url('/fonts/ClashGrotesk-Medium.70562d8.woff2') format('woff2'),
		url('/fonts/ClashGrotesk-Medium.df74bc4.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Clash';
	src:
		url('/fonts/ClashGrotesk-Semibold.cbba0f2.woff2') format('woff2'),
		url('/fonts/ClashGrotesk-Semibold.4be5863.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Clash';
	src:
		url('/fonts/ClashGrotesk-Bold.b8dfad4.woff2') format('woff2'),
		url('/fonts/ClashGrotesk-Bold.ce29d2b.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

:root {
	/*
	 * Specify sRGB colors, but for Safari, specify more vibrant versions in the p3 space
	 *
	 * More on colors:
	 * https://lea.verou.me/2020/04/lch-colors-in-css-what-why-and-how/
	 * https://webkit.org/blog/10042/wide-gamut-color-in-css-with-display-p3/
	 */

	--lime: #7ee17d;
	--shadow-color: 0deg 0% 0%;

	/* Shadows from Josh */
	--shadow-elevation-low: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.1),
		0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.1),
		1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.1);
	--shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.11),
		0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.11),
		2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.11),
		5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.11);
	--shadow-elevation-high: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.1),
		1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.1),
		2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.1),
		4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.1),
		7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.1),
		11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.1),
		17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.1),
		25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.1);

	/* Smooth gradient */
	--smooth-gradient: linear-gradient(
		to bottom,
		hsla(0, 0%, 0%, 0) 0%,
		hsla(0, 0%, 0%, 0.007) 8.1%,
		hsla(0, 0%, 0%, 0.027) 15.5%,
		hsla(0, 0%, 0%, 0.057) 22.5%,
		hsla(0, 0%, 0%, 0.096) 29%,
		hsla(0, 0%, 0%, 0.143) 35.3%,
		hsla(0, 0%, 0%, 0.194) 41.2%,
		hsla(0, 0%, 0%, 0.248) 47.1%,
		hsla(0, 0%, 0%, 0.302) 52.9%,
		hsla(0, 0%, 0%, 0.356) 58.8%,
		hsla(0, 0%, 0%, 0.407) 64.7%,
		hsla(0, 0%, 0%, 0.454) 71%,
		hsla(0, 0%, 0%, 0.493) 77.5%,
		hsla(0, 0%, 0%, 0.523) 84.5%,
		hsla(0, 0%, 0%, 0.543) 91.9%,
		hsla(0, 0%, 0%, 0.55) 100%
	);
}

/* Display-P3 color, when supported. */
@supports (color: color(display-p3 1 1 1)) {
	:root {
		--lime: color(display-p3 0.232 0.977 0.361);
	}
}

input[type='date'] {
	appearance: textfield;
	min-height: 1.2em;
	min-width: 96px;
}

@layer base {
	a {
		@apply text-gray-900 no-underline hover:text-lime hover:underline hover:decoration-lime;
	}
}

@-webkit-keyframes traverse-up-left {
	to {
		transform: translateY(-200px) translateX(-350px) rotate(180deg);
	}
}

@keyframes traverse-up-left {
	to {
		transform: translateY(-200px) translateX(-350px) rotate(180deg);
	}
}

.circle-a {
	background: radial-gradient(closest-side, #2dd4bf, rgba(233, 168, 2, 0));
	animation: traverse-up-left 5s ease-in-out infinite alternate;
	z-index: -1;
}

.circle-b {
	background: radial-gradient(closest-side, var(--lime), rgba(233, 168, 2, 0));
	animation: traverse-up-right 6s ease-in-out infinite alternate;
	z-index: -1;
}

.introduction a {
	@apply font-medium underline decoration-lime underline-offset-1 transition-all hover:text-black hover:decoration-2 hover:underline-offset-2;
}

@media only screen and (max-width: 600px) {
	.full-bleed {
		margin-bottom: 1em;
	}
}

.footnotes li {
	@apply max-w-full overflow-hidden whitespace-pre-wrap;
}
