:root {
  --green: #A2E0A2;
  --hard-green: #7EE17D;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
}

.page {
  display: grid;
  grid-template-columns:
    1fr
    min(65ch, 100%)
    1fr;
}
.page > * {
  grid-column: 2;
  padding: 0 1em;
}
.full-bleed {
  width: 100%;
  grid-column: 1 / 4;
  padding: 0;
  margin-bottom: 2em;
}


@media only screen and (max-width: 600px) {
  .full-bleed {
    margin-bottom: 1em;
  }
}

a {
  color: #111;
  text-decoration: none;
}

a:hover {
  color: var(--hard-green);
}

header, footer {
  margin: 0 auto;
  padding: 20px 1em;
  color: rgba(0,0,0,.84);
}

header {
  position: relative;
}

header h1 {
  margin: 0;
  font-weight: normal;
  font-size: 22px;
}

header h1 a {
  color: black;
  border-bottom: 4px solid var(--green);
}

header .social {
  position: absolute;
  top: 23px;
  right: 20px;
}

header .social a {
  margin-left: 10px;
}

header .social a svg:hover path {
  fill: var(--green);
}

header .social svg {
  width: 22px;
  height: 22px;
}

header h1 a {
  text-decoration: none;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin: 0 8px 0 0;
  padding: 0;
}

footer {
  text-align: right;
}

footer a {
  text-decoration: none;
  color: rgba(0,0,50,0.4);
  font-size: small;
}

div.page {
  line-height: 1.5;
}

.blog-post p, .blog-post li {
  font-size: 120%;
}

.blog-post img {
  max-width: 100%;
}

.blog-post img.right {
  float: right; margin-left: 20px;
}

.blog-post blockquote {
  color: rgba(0,0,0,0.6);
  margin: 1em 0;
  padding: 0.5em 2em;
  background: rgba(0,0,0,0.03);
  border-left: 1px solid rgba(0,0,0,0.1);
}

.blog-post blockquote p {
}

.blog-post h1 {
  margin-bottom: 4px;
}

.blog-post .meta {
  margin: 0 0 2em 0;
  color: rgba(0,0,0,0.4);
}

.blog-post-body a {
 text-decoration: underline;
}

.intro { 
  margin: 60px 0;
  display: grid;
  grid-template-columns: auto 180px;
  grid-template-rows: auto;
  grid-gap: 1rem;
}

.intro .bio, .intro .picture {
  display: flex;
  align-items: center;
}

.intro .bio p {
  font-size: 12pt;
  margin: 8px 0;
}

@media only screen and (max-width: 600px) {
  .intro {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }
  .intro .picture {
    display: block;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
  }
  .intro .bio p {
    font-size: 9pt;
  }
  .intro .picture img {
    width: 60%;
  }
}

.intro img {
  width: 100%;
  border-radius: 100000px;
}

.intro a {
  color: var(--hard-green);
}

.index-posts {
  margin: 30px 0;
}

.index-posts .legend {
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: rgba(0,0,0,0.4);
  font-size: 10pt;
}

.index-posts .post {
  display: block;
  font-size: 15pt;
  border-bottom: 0.5px solid rgba(0,0,0,0.1);
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.index-posts .post .title {
  font-weight: 600;
}

.index-posts .post .date { 
  font-weight: 300;
  color: rgba(0,0,0,0.4); 
}

.footnotes {
  font-size: 70%;
}

.footnotes p {
  margin: 0;
  word-wrap: break-word;
}

.footnotes li {
  margin-bottom: 0.4em;
}

.footnotes .footnote {
  margin-left: 1em;
  color: rgba(0,0,0,0.4);
}

.caption { margin: 2em 0 1em; }

.caption p { font-size: x-small; text-align: right; color: rgba(0,0,0,0.4); }

.shadow-img { box-shadow: 0 0 20px rgba(0,0,0,0.2); }

table { 
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  background: white;
  width: 100%; 
  font-family: monospace;
  font-size: 11pt;
  font-variant-numeric: lining-nums tabular-nums;
  padding: 0.3em 0.1em;
}

td, th {
  padding: 0.125em 0.5em 0.25em 0.5em;
  line-height: 1;
}

hr {
  display: block;
  margin: 4em auto;
  width: 12px;
  height: 12px;
  border-width: 1px 1px 0 0;
  border-color: rgba(0,0,0,0.5);
  border-style: solid;
  position: relative;
  transform: rotate(-45deg);
}

hr:before, hr:after {
  content: '';
  display: block;
  position: absolute;
  border: inherit;
  width: 100%;
  height: 100%;
  top: -1px;
}

hr:before {
  right: 100%;
  top: -100%;
  margin-top: -1px;
}

hr:after {
  left: 100%;
  top: 100%;
}

.grey { color: grey; }

@media only screen and (max-width: 600px) {
  blockquote {
    margin: 0 12px;
  }

  .blog-post p, .blog-post li {
    font-size: 100%;
  }
}

